@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Poppins', sans-serif;

}


h1,
h2 {
    font-family: 'Montserrat', sans-serif;
}


header {
    margin-bottom: 20px;
    font-size: 20px;
}

header p {
    font-style: italic;
    font-size: 16.5px;
}

.container {
    max-width: 420px;
    width: 100%;
    padding: 20px;
}

.input {
    justify-content: center;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.333);
    line-height: 25px;
    height: fit-content;

}

.labeltxt {
    margin-bottom: 10px;
    justify-content: left;
    align-items: left;
    text-align: left;
    margin-top: 20px;
}

label {
    display: flex;
    width: 100%;
    font-weight: bold;
    font-size: 20px;
    text-align: left;
}

select,
input[type="range"] {
    width: 100%;
}

select {
    border-radius: 5px;
    height: 31px;
    background-color: aliceblue;
    font-size: 18px;
    border: none;
    box-shadow: 0 0 15px rgba(156, 182, 204, 0.37);
}


select:hover {
    cursor: pointer;
    opacity: 0.9;
}

button {
    font-weight: bold;
    font-size: larger;
    width: 75%;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #d4b272;
    transition: ease-in-out 0.3s;
}

button:hover {
    cursor: pointer;
    opacity: 0.9;
    color: rgba(0, 0, 0, 0.945);
    transform: scale(1.05);
}

.output {
    height: fit-content;
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.333);
    margin-bottom: 20px;
}

.excuse {
    padding: 8px;
    font-style: italic;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.info {
    font-size: 10px;
    gap: 10px;
    padding: 9px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

input[type="range"] {
    -webkit-appearance: none;
    /* Remove default styling */
    appearance: none;
    width: 300px;
    height: 10px;
    border-radius: 5px;
    background: linear-gradient(90deg, #570404, #d4b272, #045a1e);
    /* light gradient */
    outline: none;
    transition: background 0.3s ease;
}


input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #fff5f0;
    border: 2px solid #ffccc5;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, transform 0.2s ease;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background: #ffece6;
    transform: scale(1.1);
}